
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.frontpage{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://Shivaen.github.io/mountains.jpg");
    background-position: 100%;
    background-size: cover;
    background-position: center;
    
}
nav img{
    height: 7%;
    width: 5%;
    top: 1%;
    left: 0%;
    position: absolute;
    
}
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .glass {
    position: absolute;
    width: 80%;
    height: 35%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 4em;
    letter-spacing: 0.75em;
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 20px 18px rgba(0, 0, 0, .30);
  }

nav{
    width: 100%;
    height: 90px;
    background-color: black;
}
.nav-links{
    margin-left: 100px;

}
.nav-links ul li{
    list-style: none;
    position: relative;
    display: inline-block;
    float: left;
    line-height: 90px;
}
.nav-links ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    
    color: white;
    padding: 0% 20px;

}
.nav-links ul li a:hover{
    color: wheat;
}

.nav-links ul li ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
    width: 250px;
    
}

.nav-links ul li:hover ul {
    display: block;
    
    
}

.nav-links ul li ul a {
    
    margin-top: -5%;
    margin-bottom: -5%;
}

.nav-links ul li ul a:hover {
    color: wheat;
}

/*Personal*/
.personal{
    background-color: aliceblue;
}
.personalhead {
    text-align: center;
    justify-content: center;
    padding: 50px;
    position: absolute;
    margin-left: 36%;
   
}
.personalhead p{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.personal-wrapper {
    text-align: center;
    justify-items: center;
    margin-top: 150px;
}

/*Hair Pick*/

* {box-sizing: border-box;}


.button-text-personal-pick{
    display: inline-block;
    background-color: white; 
    padding: 0 50px;

}

.button-text-personal-pick h2,p{
    text-align: center;
    width: 400px;
    
}

.button-text-personal-pick .open-button-personal-pick {
  height: 50%;
  width: 400px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin-top: 50px;
  
}
.button-text-personal-pick .open-button-personal-pick img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-popup-personal-pick {
  padding: 50px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: aliceblue;
}

.form-popup-personal-pick img {
    width: 500px;
    height: 80%;

}
.form-popup-personal-pick img:hover {
    opacity: .8;
    cursor: pointer;

}

.form-popup-personal-pick p {
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    width: 100%
    
}

.form-popup-personal-pick .cancel {
  background-color: red;
}

.form-popup-personal-pick .btn:hover, .open-button-personal-pick:hover {
  opacity: .8;
  cursor: pointer;
}

/* Shelf */

* {box-sizing: border-box;}

.button-text-personal-shelf{
    display: inline-block;
    background-color: white;
    padding: 0 50px;

}

.button-text-personal-shelf h2,p{
    text-align: center;
    width: 400px;
    
}

.button-text-personal-shelf .open-button-personal-shelf {
  height: 50%;
  width: 400px;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin-top: 50px;
  
}
.button-text-personal-shelf .open-button-personal-shelf img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-popup-personal-shelf {
  padding: 50px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: aliceblue;
}

.form-popup-personal-shelf img {
    width: 600px;
    height: 80%;

}

.form-popup-personal-shelf img:hover {
    opacity: .8;
    cursor: pointer;

}

.form-popup-personal-shelf p {
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    width: 100%
}

.form-popup-personal-shelf .cancel {
  background-color: red;
}

.form-popup-personal-shelf .btn:hover, .open-button-personal-shelf:hover {
  opacity: .8;
  cursor: pointer;
}